<% include ../partials/header %>

<div class="landing">
        <div class="welcome-header">
            <span class="blog-welcome">Welcome to <span class="blog-name">init.</span></span>
            <p>A place where I document my learning.</p>
            <p>Created by <i>A V Siva Sesha Sai</i></p>
        </div>
</div>

<div class="ui cards" id="cards-wrapper">
        <% blogs.forEach(blog =>{ %>
                <div class="ui link centered cards" id="blog-card">
                    <a class="card" id="blog-card" href="/home/<%= blog._id %>">
                        <div class="content">
                            <div class="header"><%= blog.title %></div>
                            <div class="meta">
                                    <emp>By</emp> <b><%= blog.author %></b>
                            </div>
                            
                        </div>
                        <div class="extra content">
                                Published - <b><%= blog.date.toString().substring(0,16) %></b>
                        </div>
                    </a>
                </div>
        <% }) %>

    </div>
</div>

<% include ../partials/footer %>