<% include ../partials/header %>

<div class="ui container segment">
    <form class="ui form" action="/home" method="POST">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title..">
        </div>
    
        <div class="field">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="Author..">
        </div>
    
        <div class="field">
            <label for="image">Image</label>
            <input type="text" name="image" placeholder="Image..">
        </div>
    
        <div class="field">
            <label for="body">Body</label>
            <!-- <textarea name="body" id="bosy" cols="30" rows="10"></textarea> -->
            <textarea  name="body"></textarea>
                  
        </div>
    
        <button class="ui basic black button" type="submit">Submit</button>
        <a class="ui basic black button" href="/home">Back</a>
    </form>
    
</div>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>

<% include ../partials/footer %>
