<% include ../partials/header %>


<div class="ui container raised segment" id="login">
    <div class="ui dividing large header">
        Login 
    </div>
    <!-- <div id="errors">
            <ul>
                <% if(typeof errors !== 'undefined' && errors){ %>
    
                <div class="ui segments">
                    <% errors.forEach(error=>{ %>
                    <div class="ui red segment" id="error-segment">
                        <b><%= error.msg %></b>
                    </div>
                    <% }) %>
                </div>
    
    
    
    
                <% } %>
    
    
            </ul>
        </div> -->
        
        <% if(error && error.length > 0){ %>
            
              <div class="ui red segment">
                <%= error %>
              </div>
    
              <% } %>
    
              <% if(error && error.length > 0){ %>
              <!-- <div class="ui red segment"><%= success %></div> -->
            
            <% } %>
    
    
   
    <form action="/login" method="POST" class="ui form">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username..">
        </div>
        <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password..">
        </div>

        <button class="ui black basic button" id="login-button" type="submit">Login</button>
        <a class="ui basic black button" href="/home">Back</a>
    </form>

</div>

<% include ../partials/footer %>