<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shiva's Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: '#mytextarea'
        });
        </script>
      
    
  </head>
  <body style="background:#4E91C6;
  ">
    <div class="ui grey inverted huge menu" id="menu" >
      <div class="ui container">
        <div class="header item">
          Shiva's Blog
        </div>
        <a class="item" href="/home">
          All Blogs
        </a>
        <% if(currentUser) { %>
          <a class="item" href="/home/new">New Blog</a>
          <%  } %> 

        <div class="right menu">
          <% if(currentUser) { %>
            <a href="/home" class="item"> <b>Hello,</b>&nbsp; <i> <%= currentUser.username %></i></a>
            <a href="/logout" class="item">Logout</a>

          <% }if(!currentUser){ %>  
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Sign Up</a>
  
           <%  } %> 
        </div>
      </div>
    </div>
<div class="main">

 <% if(error && error.length > 0){ %>
    <div class="ui red segment">
        <%= error %>
    </div>  
  
  <% } %>
  
  <% if(error && error.length > 0){ %>
    <div class="ui red segment"><%= success %></div>
    
  <% } %>
  
