<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shiva's Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    />
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="ui huge menu">
      <div class="ui container">
        <div class="header item">
          Shiva's Blog
        </div>
        <a class="item" href="/home">
          All Blogs
        </a>
        <% if(currentUser) { %>
          <a class="item" href="/home/new">New Blog</a>
          <%  } %> 

        <div class="right menu">
          <% if(currentUser) { %>
            <a href="/home" class="item"> <b>Hello,</b>&nbsp; <i> <%= currentUser.username %></i></a>
            <a href="/logout" class="item">Logout</a>

          <% }if(!currentUser){ %>  
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Sign Up</a>
  
           <%  } %> 
        </div>
      </div>
    </div>

