


<div class="ui container ">
        <div class="dividing header">
    
        </div>
        <form class="ui form" method="POST" action="/home/<%= blog._id %>">
    
            <div class="field">
                <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
            </div>
    
            <button class="ui basic right aligned black button" type="submit">Add Comment</button>
    
        </form>
    
    </div>