html {
    overflow-x: hidden;
    overflow-y: hidden;
    }

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.main{
    width: 60vw;
    margin: 0 auto;
}

.landing{
    width: 60vw;
    margin: 5vh auto;
}

.welcome-header{
    padding: 2rem 0rem;
}

.blog-welcome {
    font-size: 3.5rem;
}


.blog-name{
    font-family: monospace;
    font-size: 4rem;
}
p{
    font-weight: 500;
    margin-top: 3vh;
}


#cards-wrapper {
    width: 60vw;
    display: flex;
    /* justify-content: center; */
    align-items: stretch;
}

#blog-card {
    width: 30vw;
    align-self: center;
}

.ui.cards {
    margin: 0 !important;
}
.ui.cards ~ .ui.cards {
    margin-top: 0rem;
}




@media (max-width: 767px) {
    .main {
        width: 80vw;
    }
    .landing {
        margin: 2vh auto;
    }
    .blog-welcome {
        font-size: 2rem;
    }
    .blog-name {
        line-height: 1.2;
    }
    #blog-card{
        width: 80vw;
    }
    footer{
        width: 100%;
        background: black;
        margin-bottom: 50px;
        text-align: center;
        
    }

    
}



#computer-row{
    padding-bottom: 0;
}
#mobile-row{
    padding-bottom:0;
}

img{
    max-height: 150px;
}

.ui.link.cards{
    display: flex;
    padding: 10px;
}

#row{
    display: -webkit-flex;

    display: flex;
    flex-wrap: wrap;
}


#allblogs-header{
    padding-top: 10px;
    padding-bottom: 50px;
}

#login{
    height: 400px;
    width: 400px;
    align-content: center;
    padding: 50px;
    margin-top:100px;
}

#register{
    height: 500px;
    width: 500px;
    align-content: center;
    padding: 50px;
    margin-top:100px;
}

footer{
    width: 100%;
    background: black;
    margin-bottom: 50px;
    text-align: center;

}

#pushable-segment{
    margin-bottom: 0;
    border: 0;
}


  