#img-card{
    max-height: 200px;
    max-width: 100%;
    object-fit: fill;
    
}

#blog-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

#main{
    display: flex;
    
    flex-wrap: wrap;
}

#row{
    display: flex;
    align-items: flex-start;
}

#column{
    display: flex;
}

#description{
    text-decoration:none;
    
}

#error-segment{
    margin-bottom: 2px;
}