#img-card{
    max-height: 200px;
    max-width: 100%;
    object-fit: fill;
    
}

#blog-card {
    display: flex;
    flex-wrap: wrap;
}

#main{
    display: flex;
    
    flex-wrap: wrap;
}

#row{
    display: flex;
}

#column{
    display: flex;
}

#description{
    text-decoration:none; 
}

